<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="smartrcp.platform.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="smartrcp.platform.Perspective"
            icon="icons/smartrcp.png"
            id="smartrcp.platform.perspective"
            name="程序管理">
      </perspective>
       <perspective
            class="cn.smartinvoke.smartrcp.core.Perspective"
            id="cn.smartinvoke.smartrcp.core.perspective"
            name="当前程序">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
     
      <view
            name="SmartRCP视图"
            class="cn.smartinvoke.smartrcp.gui.FlashViewPart"
            id="cn.smartinvoke.smartrcp.gui.FlashViewPart" allowMultiple="true">
      </view>
      <view
            name="浏览器"
            class="cn.smartinvoke.smartrcp.gui.browser.WebBrowser"
            id="cn.smartinvoke.smartrcp.WebBrowser" allowMultiple="true">
      </view>
      <view 
      class="smartrcp.platform.views.PlatAppMana"
      id="smartrcp.platform.views.PlatAppMana"
      name="程序管理"/>
      
      <view
            allowMultiple="true"
            class="smartrcp.platform.views.AppBrowserView"
            id="smartrcp.platform.views.AppBrowserView"
            name="更多程序"/>
      
      <view 
      class="org.eclipse.ui.ExtensionFactory:progressView"
      icon="icons/progress.gif"
      id="org.eclipsercp.hyperbola.views.progress"
      name="下载管理"/>
      
   </extension>

</plugin>
